<h2><%= @task.title %></h2>
<p><%= @task.details %> Add one spoon full of washing powder.</p>
<%= link_to "Retourner à la liste des tâches", tasks_path %>

  <%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-warning" %>

